# Reto 1 ‚Äì An√°lisis de temperatura y humedad

**Objetivo:** Analizar la relaci√≥n entre la temperatura, la humedad y la biomasa.

Carga el conjunto de datos y explora las variables relevantes.

In [ ]:
import pandas as pd

df = pd.read_csv("../data/resultados_experimentos.csv")
df.head()

## Exploraci√≥n inicial
Describe las columnas y analiza los tipos de datos.

In [6]:
# Escribe tu c√≥digo aqu√≠ para explorar el DataFrame
import os

# Mostrar la ruta actual del notebook
print("üìÇ Carpeta actual del notebook:")
print(os.getcwd())

# Listar los archivos dentro de esa carpeta
print("\nüìÑ Archivos en la carpeta actual:")
print(os.listdir())


# PASO 1: Cargar datos y revisar estructura
import pandas as pd

# Aseg√∫rate de que 'resultados_experimentos.csv' est√© en la misma carpeta que el notebook
df = pd.read_csv("resultados_experimentos.csv")

# Mostrar primeras filas, resumen de columnas y tipos de dato, y chequear valores faltantes
print("=== Primeras 10 filas ===")
display(df.head(10))

print("\n=== Columnas y tipos de datos ===")
print(df.dtypes)

print("\n=== Estad√≠sticas r√°pidas (num√©ricas) ===")
display(df.describe().T)

print("\n=== Conteo de valores faltantes por columna ===")
print(df.isna().sum())

üìÇ Carpeta actual del notebook:
C:\Users\User

üìÑ Archivos en la carpeta actual:
['.anaconda', '.conda', '.condarc', '.continuum', '.dotnet', '.ipynb_checkpoints', '.ipython', '.jupyter', '.ms-ad', '3D Objects', 'anaconda3', 'anaconda_projects', 'AppData', 'Configuraci√≥n local', 'Contacts', 'Cookies', 'Datos de programa', 'Documents', 'Downloads', 'Entorno de red', 'Favorites', 'Impresoras', 'IntelGraphicsProfiles', 'Links', 'Men√∫ Inicio', 'Mis documentos', 'muestras_calidad_agua.csv', 'Music', 'NTUSER.DAT', 'ntuser.dat.LOG1', 'ntuser.dat.LOG2', 'NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TM.blf', 'NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000001.regtrans-ms', 'NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000002.regtrans-ms', 'ntuser.ini', 'OneDrive', 'Plantillas', 'Reciente', 'resultados_experimentos.csv', 'resultado_pH.csv', 'reto1_termohumedad.ipynb', 'reto2 solucionado_ph.ipynb', 'reto2_ph.ipynb', 'Saved Games', 'Searches', 'SendTo', 'Untitled.ipynb', 'Videos']
=== Primeras 10 filas ===

                    sitio  temperatura  humedad   luz  biomasa
0  Bosque Alto de Nocaima         23.8     82.2  1030    250.8
1      Humedal Facatativ√°         18.0     89.7   395    225.8
2       R√≠o San Francisco         17.2     85.4   647    237.5
3       Ladera de La Vega         21.7     81.4   769    252.4
4   Zona H√∫meda El Vergel         24.1     85.3  1333    302.7
5          R√≠o Subachoque         19.9     71.3   563     75.0
6        Humedal Mosquera         27.7     72.7   854    279.1
7              R√≠o Madrid         23.6     68.0  1482    123.1
8      Reserva San Miguel         20.7     70.3   899    108.3
9       Ladera de Sasaima         19.5     82.1  1016    221.7

=== Columnas y tipos de datos ===
sitio           object
temperatura    float64
humedad        float64
luz              int64
biomasa        float64
dtype: object

=== Estad√≠sticas r√°pidas (num√©ricas) ===

,count,mean,std,min,25%,50%,75%,max
temperatura,20.0,20.695,3.259234,14.8,18.60,20.40,23.650,27.7
humedad,20.0,78.090,8.047615,63.2,72.35,76.25,82.975,93.0
luz,20.0,901.000,307.177816,395.0,670.25,893.50,1048.000,1482.0
biomasa,20.0,196.415,84.389369,54.8,105.65,227.05,253.975,315.6

=== Conteo de valores faltantes por columna ===
sitio          0
temperatura    0
humedad        0
luz            0
biomasa        0
dtype: int64

## Interpretaci√≥n de resultados
Escribe tus observaciones y conclusiones sobre los patrones encontrados.

## Desarrollo del reto
Aplica funciones y an√°lisis seg√∫n el objetivo. Usa `def` para definir tus funciones.

In [7]:
# PASO 2: Crear la funci√≥n resumen_termico()

def resumen_termico(df):
    resumen = pd.DataFrame({
        'temp_promedio': [df['temperatura'].mean()],
        'temp_max': [df['temperatura'].max()],
        'temp_min': [df['temperatura'].min()],
        'hum_promedio': [df['humedad'].mean()],
        'hum_max': [df['humedad'].max()],
        'hum_min': [df['humedad'].min()]
    })
    return resumen

# Ejecutamos la funci√≥n y mostramos el resultado
resumen = resumen_termico(df)
display(resumen)

   temp_promedio  temp_max  temp_min  hum_promedio  hum_max  hum_min
0         20.695      27.7      14.8         78.09     93.0     63.2

In [8]:
# PASO 3: Crear la funci√≥n clasificar_clima()

def clasificar_clima(temp, hum):
    if temp >= 18 and hum >= 70:
        return 'h√∫medo templado'
    elif temp >= 18 and hum < 70:
        return 'seco templado'
    elif temp < 18 and hum >= 70:
        return 'h√∫medo fr√≠o'
    else:
        return 'seco fr√≠o'

# Probar la funci√≥n con un ejemplo
ejemplo = clasificar_clima(20, 80)
print("Ejemplo: temp=20, hum=80 ‚Üí", ejemplo)

Ejemplo: temp=20, hum=80 ‚Üí h√∫medo templado

In [9]:
# PASO 4: Aplicar la funci√≥n a cada fila del DataFrame

df['clima'] = df.apply(lambda x: clasificar_clima(x['temperatura'], x['humedad']), axis=1)

# Mostrar las primeras filas para verificar que se agreg√≥ correctamente
display(df.head())

,sitio,temperatura,humedad,luz,biomasa,clima
0,Bosque Alto de Nocaima,23.8,82.2,1030,250.8,h√∫medo templado
1,Humedal Facatativ√°,18.0,89.7,395,225.8,h√∫medo templado
2,R√≠o San Francisco,17.2,85.4,647,237.5,h√∫medo fr√≠o
3,Ladera de La Vega,21.7,81.4,769,252.4,h√∫medo templado
4,Zona H√∫meda El Vergel,24.1,85.3,1333,302.7,h√∫medo templado

In [10]:
# PASO 5: Crear la tabla de frecuencias por tipo de clima

tabla_frecuencias = df['clima'].value_counts().reset_index()
tabla_frecuencias.columns = ['Tipo de clima', 'N√∫mero de sitios']

display(tabla_frecuencias)

     Tipo de clima  N√∫mero de sitios
0  h√∫medo templado                14
1      h√∫medo fr√≠o                 4
2    seco templado                 2

In [11]:
# PASO 6: Guardar los resultados en archivos CSV

# Guardar el DataFrame completo con la nueva columna "clima"
df.to_csv("resultados_clasificados.csv", index=False)

# Guardar la tabla de frecuencias por tipo de clima
tabla_frecuencias.to_csv("resumen_climas.csv", index=False)

print("‚úÖ Archivos guardados correctamente:")
print("- resultados_clasificados.csv")
print("- resumen_climas.csv")

‚úÖ Archivos guardados correctamente:
- resultados_clasificados.csv
- resumen_climas.csv

In [12]:
import os
os.listdir()

['.anaconda',
 '.conda',
 '.condarc',
 '.continuum',
 '.dotnet',
 '.ipynb_checkpoints',
 '.ipython',
 '.jupyter',
 '.ms-ad',
 '3D Objects',
 'anaconda3',
 'anaconda_projects',
 'AppData',
 'Configuraci√≥n local',
 'Contacts',
 'Cookies',
 'Datos de programa',
 'Documents',
 'Downloads',
 'Entorno de red',
 'Favorites',
 'Impresoras',
 'IntelGraphicsProfiles',
 'Links',
 'Men√∫ Inicio',
 'Mis documentos',
 'muestras_calidad_agua.csv',
 'Music',
 'NTUSER.DAT',
 'ntuser.dat.LOG1',
 'ntuser.dat.LOG2',
 'NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TM.blf',
 'NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000001.regtrans-ms',
 'NTUSER.DAT{2ad838bc-efea-11ee-a54d-000d3a94eaa1}.TMContainer00000000000000000002.regtrans-ms',
 'ntuser.ini',
 'OneDrive',
 'Plantillas',
 'Reciente',
 'resultados_clasificados.csv',
 'resultados_experimentos.csv',
 'resultado_pH.csv',
 'resumen_climas.csv',
 'reto1_termohumedad.ipynb',
 'reto2 solucionado_ph.ipynb',
 'reto2_ph.ipynb',
 'Saved Games',
 'Searches',
 'SendTo',
 'Untitled.ipynb',
 'Videos']

In [ ]:
conclusio final