# Reto 4 – Integrador de resultados

**Objetivo:** Combinar los análisis de los compañeros y crear un resumen general del ecosistema.

Carga el conjunto de datos y explora las variables relevantes.

In [2]:
import pandas as pd

df = pd.read_csv("resultados_experimentos.csv")
df.head()

                    sitio  temperatura  humedad   luz  biomasa
0  Bosque Alto de Nocaima         23.8     82.2  1030    250.8
1      Humedal Facatativá         18.0     89.7   395    225.8
2       Río San Francisco         17.2     85.4   647    237.5
3       Ladera de La Vega         21.7     81.4   769    252.4
4   Zona Húmeda El Vergel         24.1     85.3  1333    302.7

## Exploración inicial
Describe las columnas y analiza los tipos de datos.

In [3]:
# Escribe tu código aquí para explorar el DataFrame
df.info()
df.describe()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sitio        20 non-null     object
 1   temperatura  20 non-null     float64
 2   humedad      20 non-null     float64
 3   luz          20 non-null     int64
 4   biomasa      20 non-null     float64
dtypes: float64(3), int64(1), object(1)
memory usage: 932.0+ bytes

       temperatura    humedad          luz     biomasa
count    20.000000  20.000000    20.000000   20.000000
mean     20.695000  78.090000   901.000000  196.415000
std       3.259234   8.047615   307.177816   84.389369
min      14.800000  63.200000   395.000000   54.800000
25%      18.600000  72.350000   670.250000  105.650000
50%      20.400000  76.250000   893.500000  227.050000
75%      23.650000  82.975000  1048.000000  253.975000
max      27.700000  93.000000  1482.000000  315.600000

## Desarrollo del reto
Aplica funciones y análisis según el objetivo. Usa `def` para definir tus funciones.

In [18]:
# Crea aquí tus funciones y análisis
# Función 1 para limpiar los datos
def limpiar_datos(d):
    if d['temperatura'] > 60:
        d['temperatura'] = 60
    if d['humedad'] > 100:
        d['humedad'] = 100
    if d['humedad'] < 0:
        d['humedad'] = 0
    if d['luz'] < 0:
        d['luz'] = 0
    if d['biomasa'] < 0:
        d['biomasa'] = 0
    return d

 # Ejemplo de un sitio con datos extremos
sitio = {'sitio': 'Bosque Alto de Nocaima', 'temperatura': 70, 'humedad': 120, 'luz': 500, 'biomasa': -5}
print('Antes de limpiar:', sitio)

 # Aplicar la función
sitio_limpio = limpiar_datos(sitio)
print('Después de limpiar:', sitio_limpio)



#Función 2 indice de calor
def indice_calor(temp, hum):
    if temp is None or hum is None:
        return None
    resultado = 0.7 * temp + 0.3 * (hum / 5)
    return resultado

 #Ejemplo: calcular el índice de calor para un sitio
temperatura = 28
humedad = 75

 #Aplicar la función
resultado = indice_calor(temperatura, humedad)
print("El índice de calor es:", resultado)

#Función 3 Clasificar ecosistema
def clasificar_ecosistema(temp, hum, luz):
    if temp >= 25 and hum >= 70:
        return "Húmedo-cálido"
    elif hum < 40 and luz > 800:
        return "Seco-soleado"
    else:
        return "Templado"

# Ejemplo para probar
print(clasificar_ecosistema(24, 35, 1200))

Antes de limpiar: {'sitio': 'Bosque Alto de Nocaima', 'temperatura': 70, 'humedad': 120, 'luz': 500, 'biomasa': -5}
Después de limpiar: {'sitio': 'Bosque Alto de Nocaima', 'temperatura': 60, 'humedad': 100, 'luz': 500, 'biomasa': 0}
El índice de calor es: 24.099999999999998
Seco-soleado

## Interpretación de resultados
Escribe tus observaciones y conclusiones sobre los patrones encontrados.

#Interpretación de los resultados 
La aplicación de las funciones presentadas, permiten llevar a cabo un análisis de forma más sencilla con el uso de Phyton.

La Función 1, permitió limpiar datos, es decir, clasificar los datos que verdaderamente estuvieran dentro de los rangos establecidos reales, corrigiendo valores que no son posibles en la naturaleza, como por ejemplo biomasa negativa, y se aplicó un ejemplo para ver su funcionamiento.

La función 2, permitió clasificar los datos de acuerdo a los índices de calor, combinando temperatura y humedad para estimar qué tan cálido se siente el ambiente. 

Finalmente, se aplicó la función 3, clasificando según la temperatura, humedad y luz, si estaban bajo condiciones de tipo húmedo-cálido, seco-soleado o templado.

En conclusión, este ejercicio permitió mostrar, desarrollar y aplicar funciones que ayudan a organizar, analizar y entender mejor diferentes variables ambientales que influyen en diferentes ecosistemas.