# Reto 3 ‚Äì Clasificaci√≥n de biomasa

**Objetivo:** Clasificar los ecosistemas seg√∫n su biomasa y variables ambientales asociadas.

Carga el conjunto de datos y explora las variables relevantes.

In [ ]:
import pandas as pd

df = pd.read_csv("../data/resultados_experimentos.csv")
df.head()

## Exploraci√≥n inicial
Describe las columnas y analiza los tipos de datos.

In [ ]:
# Escribe tu c√≥digo aqu√≠ para explorar el DataFrame

## Desarrollo del reto
Aplica funciones y an√°lisis seg√∫n el objetivo. Usa `def` para definir tus funciones.

In [ ]:
# Crea aqu√≠ tus funciones y an√°lisis

## Interpretaci√≥n de resultados
Escribe tus observaciones y conclusiones sobre los patrones encontrados.

In [1]:
import pandas as pd 
df = pd.read_csv("resultados_experimentos.csv")
df.head()

                    sitio  temperatura  humedad   luz  biomasa
0  Bosque Alto de Nocaima         23.8     82.2  1030    250.8
1      Humedal Facatativ√°         18.0     89.7   395    225.8
2       R√≠o San Francisco         17.2     85.4   647    237.5
3       Ladera de La Vega         21.7     81.4   769    252.4
4   Zona H√∫meda El Vergel         24.1     85.3  1333    302.7

In [3]:
#mostrar filas y tipos de datos
df.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 20 entries, 0 to 19
Data columns (total 5 columns):
 #   Column       Non-Null Count  Dtype
---  ------       --------------  -----
 0   sitio        20 non-null     object
 1   temperatura  20 non-null     float64
 2   humedad      20 non-null     float64
 3   luz          20 non-null     int64
 4   biomasa      20 non-null     float64
dtypes: float64(3), int64(1), object(1)
memory usage: 932.0+ bytes

In [5]:
#estadisticas descriptivas
df.describe()

       temperatura    humedad          luz     biomasa
count    20.000000  20.000000    20.000000   20.000000
mean     20.695000  78.090000   901.000000  196.415000
std       3.259234   8.047615   307.177816   84.389369
min      14.800000  63.200000   395.000000   54.800000
25%      18.600000  72.350000   670.250000  105.650000
50%      20.400000  76.250000   893.500000  227.050000
75%      23.650000  82.975000  1048.000000  253.975000
max      27.700000  93.000000  1482.000000  315.600000

In [7]:
#verificar si hay valores nulos
df.isnull().sum()

sitio          0
temperatura    0
humedad        0
luz            0
biomasa        0
dtype: int64

In [23]:
#vamos a clasificar la biomasa de los ecosistemas segun su nivel
def clasificar_biomasa(valor):
    if valor < 50:
        return "baja"
    elif valor < 150:
        return "media"
    else:
        return "alta"

In [31]:
#aplicamos la funcion
df["categoria_biomasa"] = df["biomasa"].apply(clasificar_biomasa)

In [33]:
#se cuenta cuantos ecosistemas hay por cada categoria
df["categoria_biomasa"].value_counts()

categoria_biomasa
alta     13
media     7
Name: count, dtype: int64

In [41]:
#promedio y analisis de los ecosistemas al ver cuanta biomasa tienen
df.groupby("categoria_biomasa").mean(numeric_only=True)

                   temperatura    humedad         luz     biomasa
categoria_biomasa
alta                 21.030769  79.215385  888.538462  253.446154
media                20.071429  76.000000  924.142857   90.500000

In [43]:
from IPython.display import Markdown

conclusion = """
### üß© Conclusi√≥n

Los ecosistemas con **mayor biomasa** presentan **mayor humedad** y **temperaturas m√°s estables**, 
mientras que los de biomasa baja se asocian a **condiciones limitantes** como menor disponibilidad de nutrientes o agua.
"""

display(Markdown(conclusion))

### üß© Conclusi√≥n

Los ecosistemas con **mayor biomasa** presentan **mayor humedad** y **temperaturas m√°s estables**,
mientras que los de biomasa baja se asocian a **condiciones limitantes** como menor disponibilidad de nutrientes o agua.